---
layout: post-index
permalink: /articles/
title: All Posts
permalink: /archive/index.html
description: "An archive of posts."
---
<!-- {% for post in site.posts %}
  {% capture ym %}
    {{ post.date | date:"%Y 年 %m 月" }}
  {% endcapture %}
  {% if yearmonth != ym %}
    {% assign yearmonth = ym %}
  <li><a href="#{{ ym }}">{{ ym }}</a></li>
  {% endif %}
{% endfor %} -->
<section class="archives">
{% assign first_collection = true %}
{% for post in site.posts %}
  {% capture ym %}{{ post.date | date:"%Y 年" }}{% endcapture %}
  {% if year != ym %}
    {% if first_collection %}
        {% assign first_collection = false %}
    {% else %}
        </div>
    {% endif %}
    {% assign year = ym %}
    </ul>
    <div class="collection">
      <blockquote id="{{ ym }}">{{ ym }}</blockquote>
    <ul>
  {% endif %}
    <li class="collection-item">
      <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      <time class="time">{{ post.date | date:'%F' }}</time>
    </li>
{% endfor %}
</section>
