@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";

*{
    box-sizing:border-box;
}
.clearfix{
    @include clearfix;
}
html{
    font-size: 62.5%;
}
body{
    height: 100%;
    overflow: hidden;
}
.cantainer{
    height: 100%;
}
.nav{
    position: fixed;
    top:40%;
    left:100px;
    z-index:99;
    ul li.step{
        width: 10px;
        height: 10px;
        border:2px solid #EF7883;
        border-radius: 10px;
        margin:8px;
        cursor: pointer;
        opacity: 0.5; 
    }
    ul li.active{
        opacity: 1; 
    }
}

section.item{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: none;
    
}
section.item1{
    background: #ddd;
}
section.item2{
    background: #F3DBDB;
}
section.item3{
    background: #DBF3DB;
}
section.active{
    display: block;
}
section.prev-scale-down{
    -webkit-animation: scaleDown 1s ease;
    opacity: 0;

}
section.next-slide-up{
    -webkit-animation: slideUp 1s ease;
    opacity: 1;
}
section.next-scale-up{
    -webkit-animation: scaleUp 1s ease;
    opacity: 0;
}
section.prev-slide-down{
    -webkit-animation: slideDown 1s ease;
    opacity: 1;
}
@-webkit-keyframes scaleDown{
    0%{
        -webkit-transform:scale(1) translateY(0);
        opacity: 1;
    }
    100%{
        -webkit-transform:scale(0.8) translateY(50%);
        opacity: 0
    }
}
@-webkit-keyframes scaleUp{
    0%{
        -webkit-transform:scale(0.5) translateY(50%);
        opacity: 0;
    }
    100%{
        -webkit-transform:scale(1) translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes slideDown{
    0%{
        -webkit-transform:translateY(0);
        opacity: 1;
    }
    100%{
        -webkit-transform:translateY(100%);
        opacity: 0;
    }
}
@-webkit-keyframes slideUp{
    0%{
        -webkit-transform:translateY(100%);
        opacity: 0;
    }
    100%{
        -webkit-transform:translateY(0);
        opacity: 1;
    }
}

.timeline {
    padding:5rem 5rem;
    &::before{
        content:' ';
        width: 4px;
        height: 100%;
        display: block;
        background: #7EA0CC;
        position: absolute;
        left:6rem;
        top:0;
    }
    
    .timeline-block{
        position: relative;
        width:100%;
        margin-bottom: 5rem;
        &:first-child{
            margin-top: 30px;
        }
    }
    
    .timeline-point{
        position: absolute;
        width: 2rem;
        height: 2rem;
        border:0.4rem solid #B8C6D8;
        border-radius: 2rem;
        background: #7EA0CC;
        left:0.2rem;
        top:0.6rem;
    }
    .timeline-main{
        background: #fff;
        padding:2rem;
        position: relative;
        border-radius: 0.5rem;
        margin-left: 4rem;
        &:before{
            content:' ';
            width:0.1rem;
            height: 0.1rem;
            border-width:0.6rem;
            border-style: solid;
            border-color:transparent #fff transparent transparent;
            display: block;
            position: absolute;
            top:0.8rem;
            left:-1.2rem;
            
        }
    }
    .h3{
        font-size: 2rem;
        font-weight: bold;
        color:#333;
        margin-bottom: 1rem;
    }
    .h5{
        font-size: 1.4rem;
        color:#ccc;
    }
    .timeline-content{
        font-size: 1.6rem;
        line-height: 2rem;
        color:#696868;
        margin-top: 10px;
    }
    @media only screen and (min-width: 1170px){
      &::before{
            left:50%;
        }
        .timeline-block{
            margin-bottom: 3rem;
            &:nth-child(even){
                overflow: hidden;
                *zoom: 1;
                .timeline-main{
                    float: right;
                }
                .timeline-main:before{
                    left:-1.2rem;
                    z-index: 2;
                    width:0.1rem;
                    height: 0.1rem;
                    border-color:transparent #fff transparent transparent;
                }
            }
        }
        .timeline-point{
            left:50%;
            margin-left: -0.9rem;
            
        }
        .timeline-main{
            width: 46%;
            margin-left:0;
            &:before{
                border-color:transparent transparent transparent #fff;
                left:100%;
                
            }
        } 
    }
}
.tech{
    .tech-tag{
        width: 50%;
        margin:100px auto;
    }
    .tag{
        display: inline-block;
        
   }
}
@for $i from 1 to 10 {
    $size:random()*12;
    $opacity:random();
    $delay:random()*5+5; 
    $width:1rem; 
    .tech .tag#{$i}{ 
        opacity: $opacity;
        padding:$opacity*1rem $opacity*3rem;
        font-size:$size*$width;
        color:rgb($opacity*30,$opacity*120,$opacity*200);
        animation:#{$delay}s fade 0.3s ease infinite;  
    }
    @keyframes fade {
        0% {
            opacity: $opacity;
        }
        30% {
            opacity: $opacity+0.3;
        }
        50% {
            opacity: $opacity+0.6;
        }
        70%{
            opacity: $opacity+0.3;
        }
        100% {
            opacity: $opacity;
        }
    }  
}
