@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/";

*{
    box-sizing:border-box;
}
.clearfix{
    @include clearfix;
}
html {
  line-height: 1;
  height: 100%;
  font-size: 625%;
  font-family: "Lato", Calibri, Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  height: auto;
  min-height: 100%;
  position: relative;
  font-size: .14rem;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222222;
}
a:visited {
  color: #555555;
}
a:focus {
  outline: thin dotted;
  color: black;
}
a:hover, a:active {
  outline: 0;
}

.main {
    padding-bottom: 140px;
}
.footer-wrapper {
  *zoom: 1;
  margin: 2em auto;
  font-size: 14px;
  text-align: center;
  color: #999;
  position: absolute;
  bottom: 0;
  width: 100%;
  .copy{
      margin-bottom: 15px;
    }
    a {
      color: #999;
      text-decoration: underline;
    }
    a:hover{
        color:#555;
    }
}

 .dl-menuwrapper {
    position: fixed;
    width:100%;
    opacity: 0;
    padding-bottom: 20px;
    background: #fff;
    z-index: 1000;
    -webkit-animation: MenuAnimIn 0.6s linear;
    -moz-animation: MenuAnimIn 0.6s linear;
    animation: MenuAnimIn 0.6s linear;
    .logo{
        text-align: center;
        margin:0 auto;
        .img{
            width: 200px;
              height: 50px;
              border-radius: 5px;
              margin-bottom: 10px;
        }
    }
    ul{
        width: 600px;
      margin:0 auto;
      padding:0px 80px;
      list-style: none;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }
    li {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 19%;
      i{
        display: inline-block;
        width: .2rem;
        color:#000;
      }
        a{
            display: inline-block;
            position: relative;
            font-size: .14rem;
            line-height: 20px;
            color: #222;
            outline: none;
            font-weight: bold;
            cursor: pointer;
            &:before{
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: .02rem;
                  bottom: 0;
                  left: 0;
                  background-color: #000;
                  visibility: hidden;
                  transform: scaleX(0);
                  transition-duration: 0.2s;
                  transition-timing-function: ease-in-out;
                  transition-delay: 0s;
            }
            &:hover::before{
                visibility: visible;
                transform: scaleX(1);
            }
        }
    }
}

#post-index {
    .main {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 250px;
    }
    article {
      background-color: white;
      box-shadow: 0 0 0 1px fade(#222222, 10), 0 6px 12px fade(#222222, 10);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding: 50px 80px;
    }
}
.entry,
.hentry {
  *zoom: 1;
}
.entry:before, .entry:after,
.hentry:before,
.hentry:after {
  display: table;
  content: "";
  line-height: 0;
}
.entry:after,
.hentry:after {
  clear: both;
}

.main .hentry{
    box-shadow: 6px 8px 35px 0px #D6D4D4;
    margin-bottom: 30px;
    opacity: 0;
     -webkit-animation:drop 1s ease 0.5s;
      -moz-animation:drop 1s ease 0.5s;
      animation:drop 1s ease 0.5s;
    .entry-meta{
        font-size: 0.075rem;
        color: #bbbbbb;
        margin:15px 0;
        a{
            color:#bbb;
            &:hover{
                text-decoration: underline;
            }
        } 
    }
    .entry-content {
      font-size: 16px;
      color:#666;
      line-height: 1.625;
      margin-top: 26px;
      p > a,li > a{
        border-bottom: 1px dotted #a2a2a2;
        &:hover{
            border-bottom-style: solid;
        }
      }
    }
    .entry-title a.title{
        color:#fff;
        background: #333;
        display: inline-block;
        padding:6px 20px;
        font-size: 25px;
        border-radius: 5px;
        position: relative;
        &:before{
            pointer-events: none;
            position: absolute;
            content: '';
            height: 0;
            width: 0;
            top: 0;
            right: 0;
            background: white;
            /* IE9 */
            background: linear-gradient(225deg, white 45%, #D6D3D3  50%, #fff 56%, white 80%);
            box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -webkit-transition-property: width, height;
            transition-property: width, height;
        }
        &:hover:before,&:focus:before,&:active:before{
            width: 20px;
            height: 20px;
        }
    }
}
#post {
    .hentry{
        box-shadow: none;
    }
    .entry-content{
        max-width: 800px;
        margin: 0px auto 0px auto;
        padding: 50px 80px;
        p:first-child{
            font-size: 20px;
            font-size: 0.19rem;
            line-height: 1.3;
            margin-bottom: 26px;
            margin-bottom: 0.1625rem;
        }
    }
    .header-title {
          text-align: center;
          margin: 250px 0 0;
          padding: 0 20px;
        }
    .header-title h1 {
      margin: 10px 20px;
      font-weight: 700;
      font-size: 35px;
      color: #555555;
    }
    .header-title h2 {
      margin: 0;
      font-size: 18px;
      color: #888888;
    }
    .read-more {
        position: relative;
        max-width: 800px;
        padding: 0px 80px;
        margin: 0px auto;
        background-color: white;
        box-shadow: 0 0 0 1px fade(#bbbbbb, 10), 0 6px 12px fade(black, 10);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        *zoom: 1;
        &:before,&:after{
            display: table;
            content: "";
            line-height: 0;
        }
        .read-more-list {
          border-top: solid 1px #bbbbbb;
        }
        .list-item {
          width: 49%;
          float:left;
          margin-top: 30px;
          text-align: left;
          &:nth-child(2){
            float: right;
            text-align: right;
          }
          h4{
            font-size: .16rem;
            margin-bottom: 0;
          }
          span{
            display: block;
            color: #a2a2a2;
          }
        }
    }

}
.pagination {
  margin: 20px 10px;
  text-align: center;
  ul{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
  }
  .inline-list{
    padding-left: 0;
    li{
        display: inline;
        padding-left: 4px;
        padding-right: 4px;
      }
  }
  .current-page{
    font-weight: 700;
  }
}


@-webkit-keyframes MenuAnimIn {
  0% {
        transform: translateY(20px);
        opacity: 0;
  }
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn {
  0% {
        transform: translateY(20px);
        opacity: 0;
  }
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn {
  0% {
        transform: translateY(20px);
        opacity: 0;
  }
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}

@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes drop {
  /* line 457, ../sass/elements.scss */
  0% {
    -moz-transform: translateY(-50px);
  }

  /* line 460, ../sass/elements.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes drop {
  /* line 465, ../sass/elements.scss */
  0% {
    -o-transform: translateY(-50px);
  }

  /* line 468, ../sass/elements.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}