<nav id="dl-menu" class="dl-menuwrapper" role="navigation">
	<!-- <button class="dl-trigger">Open Menu</button> -->
	<div class="logo"><img class="img" src="/assets/img/logo.png"></div>
	<ul >
		<li><a href="/"><i class="fa fa-home"></i><br/>Home</a></li>
		<li><a href="/archive/"><i class="fa fa-pencil-square"></i><br/>Archives</a></li>
		<li><a href="/tags/"><i class="fa fa-tags"></i><br/>Tags</a></li>
		<li><a href="/categories/"><i class="fa fa-folder-open"></i><br/>Categories</a></li>
		<li>
		      <a href="/aboutme"><i class="fa fa-tachometer"></i><br/>About Me</a>
		</li>
	</ul><!-- /.dl-menu -->
</nav><!-- /.dl-menuwrapper -->
