/* line 4, ../sass/main.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/main.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 10, ../sass/main.scss */
html {
  line-height: 1;
  height: 100%;
  font-size: 625%;
  color: red;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  /* line 18, ../sass/main.scss */
  html {
    font-size: 350%;
  }
}
/* line 22, ../sass/main.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  height: auto;
  min-height: 100%;
  position: relative;
  font-size: .14rem;
}

/* line 32, ../sass/main.scss */
ol, ul {
  list-style: none;
}

/* line 35, ../sass/main.scss */
a {
  text-decoration: none;
  color: #222222;
}

/* line 39, ../sass/main.scss */
a:visited {
  color: #555555;
}

/* line 42, ../sass/main.scss */
a:focus {
  outline: thin dotted;
  color: black;
}

/* line 46, ../sass/main.scss */
a:hover, a:active {
  outline: 0;
  text-decoration: underline;
}

/* line 50, ../sass/main.scss */
img {
  max-width: 100%;
}

/* line 54, ../sass/main.scss */
.main {
  padding-bottom: 1.4rem;
}

/* line 57, ../sass/main.scss */
.pagination {
  margin: .2rem .1rem;
  text-align: center;
}
/* line 63, ../sass/main.scss */
.pagination ul {
  display: inline;
  margin-left: .1rem;
  margin-right: .1rem;
}
/* line 68, ../sass/main.scss */
.pagination .inline-list {
  padding-left: 0;
}
/* line 70, ../sass/main.scss */
.pagination .inline-list li {
  display: inline;
  padding-left: .04rem;
  padding-right: .04rem;
}
/* line 76, ../sass/main.scss */
.pagination .current-page {
  font-weight: 700;
}

/* line 80, ../sass/main.scss */
.footer-wrapper {
  *zoom: 1;
  margin: 2em auto;
  font-size: .14rem;
  text-align: center;
  color: #999;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 89, ../sass/main.scss */
.footer-wrapper .copy {
  margin-bottom: .15rem;
}
/* line 92, ../sass/main.scss */
.footer-wrapper a {
  color: #999;
  text-decoration: underline;
}
/* line 96, ../sass/main.scss */
.footer-wrapper a:hover {
  color: #555;
}

/* line 100, ../sass/main.scss */
.time {
  font-style: italic;
  font-size: .14rem;
  color: #B1B1B1;
  margin-left: .1rem;
}

/* nav menu */
/* line 107, ../sass/main.scss */
.dl-menuwrapper {
  position: fixed;
  width: 100%;
  height: 1.8rem;
  padding-top: .6rem;
  padding-bottom: .2rem;
  background: #fff;
  z-index: 1000;
  -moz-animation: MenuAnimIn 0.6s linear;
  -webkit-animation: MenuAnimIn 0.6s linear;
  animation: MenuAnimIn 0.6s linear;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 118, ../sass/main.scss */
.dl-menuwrapper .logo {
  text-align: center;
  margin: 0 auto;
}
/* line 121, ../sass/main.scss */
.dl-menuwrapper .logo .img {
  width: 2rem;
  height: .5rem;
  border-radius: .05rem;
  margin-bottom: .1rem;
}
/* line 128, ../sass/main.scss */
.dl-menuwrapper ul {
  width: 6rem;
  margin: 0 auto;
  padding: 0px .8rem;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 137, ../sass/main.scss */
.dl-menuwrapper li {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 24%;
}
/* line 142, ../sass/main.scss */
.dl-menuwrapper li i {
  display: inline-block;
  width: .2rem;
  color: #000;
}
/* line 147, ../sass/main.scss */
.dl-menuwrapper li a {
  display: inline-block;
  position: relative;
  font-size: .14rem;
  line-height: .2rem;
  color: #222;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
/* line 156, ../sass/main.scss */
.dl-menuwrapper li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: .02rem;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
/* line 170, ../sass/main.scss */
.dl-menuwrapper li a:hover {
  text-decoration: none;
}
/* line 173, ../sass/main.scss */
.dl-menuwrapper li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* line 182, ../sass/main.scss */
#post-index .main {
  max-width: 7.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.2rem;
}
/* line 188, ../sass/main.scss */
#post-index article {
  background-color: white;
  box-shadow: 0 0 0 0.01rem fade(#222222, 10), 0 0.06rem 0.12rem fade(#222222, 10);
  -webkit-border-radius: .03rem;
  -moz-border-radius: .03rem;
  border-radius: .03rem;
  padding: .3rem .8rem .5rem .8rem;
}

/* line 197, ../sass/main.scss */
.entry,
.hentry {
  *zoom: 1;
}

/* line 201, ../sass/main.scss */
.entry:before, .entry:after,
.hentry:before,
.hentry:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 208, ../sass/main.scss */
.entry:after,
.hentry:after {
  clear: both;
}

/* line 213, ../sass/main.scss */
.hentry {
  box-shadow: .04rem .05rem .18rem -.05rem #D6D4D4;
  border: 1px solid #ddd;
  margin-bottom: .3rem;
  opacity: 0;
  -moz-animation: drop 1s ease 0.5s;
  -webkit-animation: drop 1s ease 0.5s;
  animation: drop 1s ease 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 220, ../sass/main.scss */
.hentry .entry-meta {
  color: #bbbbbb;
  margin: .15rem 0;
}
/* line 223, ../sass/main.scss */
.hentry .entry-meta a {
  color: #bbb;
}
/* line 225, ../sass/main.scss */
.hentry .entry-meta a:hover {
  text-decoration: underline;
}
/* line 230, ../sass/main.scss */
.hentry .entry-content {
  font-size: .16rem;
  color: #666;
  line-height: 1.625;
  margin-top: .26rem;
}
/* line 235, ../sass/main.scss */
.hentry .entry-content p > a, .hentry .entry-content li > a {
  border-bottom: 1px dotted #a2a2a2;
}
/* line 237, ../sass/main.scss */
.hentry .entry-content p > a:hover, .hentry .entry-content li > a:hover {
  border-bottom-style: solid;
}
/* line 242, ../sass/main.scss */
.hentry .entry-title a.title {
  color: #fff;
  background: #333;
  display: inline-block;
  padding: .06rem .2rem;
  font-size: .25rem;
  border-radius: .05rem;
  position: relative;
}
/* line 250, ../sass/main.scss */
.hentry .entry-title a.title:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, #ffffff 45%, #d6d3d3 50%, #ffffff 56%, #cecdcd 80%);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
/* line 267, ../sass/main.scss */
.hentry .entry-title a.title:hover:before, .hentry .entry-title a.title:focus:before, .hentry .entry-title a.title:active:before {
  width: .2rem;
  height: .2rem;
}

/* line 274, ../sass/main.scss */
#post .hentry {
  box-shadow: none;
}
/* line 277, ../sass/main.scss */
#post .entry-content {
  max-width: 7.5rem;
  margin: 0px auto 0px auto;
}
/* line 281, ../sass/main.scss */
#post .entry-content p:first-child {
  line-height: 1.3;
  margin-bottom: .16rem;
  margin-bottom: 0.1625rem;
}
/* line 288, ../sass/main.scss */
#post .header-title {
  width: 7.5rem;
  text-align: center;
  margin: 2.1rem auto 0;
  padding: 0 .2rem;
}
/* line 294, ../sass/main.scss */
#post .header-title h1 {
  margin: .1rem .2rem;
  font-weight: 700;
  font-size: 0.35rem;
  color: #555555;
  line-height: .42rem;
}
/* line 301, ../sass/main.scss */
#post .header-title h2 {
  margin: 0;
  font-size: .18rem;
  color: #888888;
  margin-bottom: .3rem;
}
/* line 307, ../sass/main.scss */
#post .read-more {
  position: relative;
  max-width: 6rem;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0 0 0 1px fade(#bbbbbb, 10), 0 0.06rem 0.12rem fade(black, 10);
  -webkit-border-radius: .03rem;
  -moz-border-radius: .03rem;
  border-radius: .03rem;
  *zoom: 1;
}
/* line 318, ../sass/main.scss */
#post .read-more:before, #post .read-more:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 323, ../sass/main.scss */
#post .read-more .read-more-list {
  border-top: solid 1px #bbbbbb;
}
/* line 326, ../sass/main.scss */
#post .read-more .list-item {
  width: 49%;
  float: left;
  margin: .2rem 0;
  text-align: left;
  font-size: .14rem;
}
/* line 332, ../sass/main.scss */
#post .read-more .list-item:nth-child(2) {
  float: right;
  text-align: right;
}
/* line 336, ../sass/main.scss */
#post .read-more .list-item h4 {
  margin-bottom: .05rem;
}
/* line 339, ../sass/main.scss */
#post .read-more .list-item span {
  display: block;
  color: #a2a2a2;
}

/* archives */
/* line 348, ../sass/main.scss */
.archives {
  padding: .2rem;
  margin: 0 .5rem;
  border-left-style: solid;
  border-left-color: #eee;
}
/* line 353, ../sass/main.scss */
.archives.hentry {
  box-shadow: none;
  border: 0;
}
/* line 357, ../sass/main.scss */
.archives blockquote {
  font-size: .23rem;
  margin-bottom: .3rem;
  position: relative;
}
/* line 361, ../sass/main.scss */
.archives blockquote:before {
  content: " ";
  position: absolute;
  width: .12rem;
  height: .12rem;
  background: #B1A4A4;
  -moz-border-radius: 0.12rem;
  -webkit-border-radius: 0.12rem;
  border-radius: 0.12rem;
  left: -.28rem;
  top: 50%;
  margin-top: -.06rem;
}
/* line 373, ../sass/main.scss */
.archives .collection {
  margin-bottom: .55rem;
  opacity: 0;
  -moz-animation: drop 1s ease 0.5s;
  -webkit-animation: drop 1s ease 0.5s;
  animation: drop 1s ease 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 379, ../sass/main.scss */
.archives .collection-item {
  font-size: .16rem;
  margin-top: .3rem;
  padding-left: .1rem;
  padding-bottom: .05rem;
  border-bottom: .01rem dotted #ddd;
  position: relative;
}
/* line 386, ../sass/main.scss */
.archives .collection-item:before {
  content: " ";
  position: absolute;
  box-sizing: border-box;
  width: .10rem;
  height: .10rem;
  background: #B1A4A4;
  border: .03rem solid #E0DEDE;
  -moz-border-radius: 0.05rem;
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
  left: -.27rem;
  top: 50%;
  margin-top: -.08rem;
}
/* line 399, ../sass/main.scss */
.archives .collection-item:hover {
  border-color: #888181;
}
/* line 402, ../sass/main.scss */
.archives .collection-item a {
  color: #888181;
  line-height: .22rem;
}
/* line 405, ../sass/main.scss */
.archives .collection-item a:hover {
  text-decoration: none;
}

/* tags */
/* line 415, ../sass/main.scss */
.tags .entry-meta {
  opacity: 0;
  -moz-animation: drop 1s ease;
  -webkit-animation: drop 1s ease;
  animation: drop 1s ease;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 419, ../sass/main.scss */
.tags .entry-meta li {
  display: inline-block;
  padding: .05rem .23rem .05rem .2rem;
  margin: 0 .1rem .2rem .1rem;
  background: #ccc;
  position: relative;
  -moz-border-radius: 0.03rem;
  -webkit-border-radius: 0.03rem;
  border-radius: 0.03rem;
  font-size: .18rem;
}
/* line 427, ../sass/main.scss */
.tags .entry-meta li span {
  position: absolute;
  top: 0;
  right: .15rem;
  font-size: .14rem;
}
/* line 434, ../sass/main.scss */
.tags .entry-meta li:before {
  content: " ";
  position: absolute;
  border-color: transparent transparent transparent #fff;
  border-width: .14rem;
  border-style: solid;
  left: 0;
  top: 0;
}
/* line 444, ../sass/main.scss */
.tags .entry-meta li:after {
  content: " ";
  position: absolute;
  width: .05rem;
  height: .05rem;
  -moz-border-radius: 0.05rem;
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
  background: #fff;
  right: .05rem;
  top: 50%;
  margin-top: -.025rem;
}
/* line 457, ../sass/main.scss */
.tags .hentry {
  position: relative;
  padding: 0.2rem 0 0.3rem 0 !important;
}
/* line 461, ../sass/main.scss */
.tags .target {
  padding-top: 2.5rem;
  margin-top: -2.5rem;
  display: block;
  position: relative;
  z-index: -1;
}
/* line 468, ../sass/main.scss */
.tags .tag-title {
  position: relative;
  display: inline-block;
}
/* line 471, ../sass/main.scss */
.tags .tag-title .h2 {
  font-size: .2rem;
  color: #fff;
  display: inline-block;
  background: #B5A8A8;
  /* border-top-right-radius: .05rem;
  border-bottom-right-radius: .05rem; */
  width: auto;
  height: .3rem;
  padding: .05rem .1rem;
  z-index: 2;
  position: relative;
}
/* line 484, ../sass/main.scss */
.tags .tag-title .em {
  position: absolute;
  width: .26rem;
  height: .28rem;
  background: #B5A8A8;
  background: -webkit-linear-gradient(left, #8C7B7B, #C7BFBF);
  box-sizing: border-box;
  right: -.18rem;
  top: .08rem;
  z-index: 0;
}
/* line 494, ../sass/main.scss */
.tags .tag-title .em:before {
  content: " ";
  border-color: transparent #fff transparent transparent;
  border-top-width: .14rem;
  border-bottom-width: .14rem;
  border-right-width: .08rem;
  border-left-width: .08rem;
  border-style: solid;
  position: absolute;
  right: 0;
  box-sizing: border-box;
}
/* line 506, ../sass/main.scss */
.tags .tag-title .em:after {
  content: " ";
  position: absolute;
  border-color: #8C7B7B transparent transparent #8C7B7B;
  border-width: .04rem;
  border-style: solid;
  left: 0;
  bottom: 0;
}
/* line 518, ../sass/main.scss */
.tags .ul {
  margin: .3rem;
}
/* line 520, ../sass/main.scss */
.tags .ul .entry-title {
  padding: 0.1rem 0;
}

@-moz-keyframes MenuAnimIn {
  0% {
    transform: translateY(-0.6rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn {
  0% {
    transform: translateY(-0.6rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes MenuAnimIn {
  0% {
    transform: translateY(-0.6rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@-moz-keyframes drop {
  0% {
    -webkit-transform: translateY(-0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    -webkit-transform: translateY(-0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
