/* line 5, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/index.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/index.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 11, ../sass/index.scss */
html {
  font-size: 62.5%;
}

/* line 14, ../sass/index.scss */
body {
  height: 100%;
  overflow: hidden;
}

/* line 18, ../sass/index.scss */
.cantainer {
  height: 100%;
}

/* line 21, ../sass/index.scss */
.nav {
  position: fixed;
  top: 40%;
  left: 100px;
  z-index: 99;
}
/* line 26, ../sass/index.scss */
.nav ul li.step {
  width: 10px;
  height: 10px;
  border: 2px solid #EF7883;
  border-radius: 10px;
  margin: 8px;
  cursor: pointer;
  opacity: 0.5;
}
/* line 35, ../sass/index.scss */
.nav ul li.active {
  opacity: 1;
}

/* line 40, ../sass/index.scss */
section.item {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
}

/* line 47, ../sass/index.scss */
section.item1 {
  background: #ddd;
}

/* line 50, ../sass/index.scss */
section.item2 {
  background: #F3DBDB;
}

/* line 53, ../sass/index.scss */
section.item3 {
  background: #DBF3DB;
}

/* line 56, ../sass/index.scss */
section.active {
  display: block;
}

/* line 59, ../sass/index.scss */
section.prev-scale-down {
  -webkit-animation: scaleDown 1s ease;
  opacity: 0;
}

/* line 64, ../sass/index.scss */
section.next-slide-up {
  -webkit-animation: slideUp 1s ease;
  opacity: 1;
}

/* line 68, ../sass/index.scss */
section.next-scale-up {
  -webkit-animation: scaleUp 1s ease;
  opacity: 0;
}

/* line 72, ../sass/index.scss */
section.prev-slide-down {
  -webkit-animation: slideDown 1s ease;
  opacity: 1;
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(50%);
    opacity: 0;
  }
}
@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.5) translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
/* line 117, ../sass/index.scss */
.timeline {
  padding: 5rem 5rem;
}
/* line 119, ../sass/index.scss */
.timeline::before {
  content: ' ';
  width: 4px;
  height: 100%;
  display: block;
  background: #7EA0CC;
  position: absolute;
  left: 6rem;
  top: 0;
}
/* line 130, ../sass/index.scss */
.timeline .timeline-block {
  position: relative;
  width: 100%;
  margin-bottom: 5rem;
}
/* line 134, ../sass/index.scss */
.timeline .timeline-block:first-child {
  margin-top: 30px;
}
/* line 139, ../sass/index.scss */
.timeline .timeline-point {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 0.4rem solid #B8C6D8;
  border-radius: 2rem;
  background: #7EA0CC;
  left: 0.2rem;
  top: 0.6rem;
}
/* line 149, ../sass/index.scss */
.timeline .timeline-main {
  background: #fff;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  margin-left: 4rem;
}
/* line 155, ../sass/index.scss */
.timeline .timeline-main:before {
  content: ' ';
  width: 0.1rem;
  height: 0.1rem;
  border-width: 0.6rem;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  display: block;
  position: absolute;
  top: 0.8rem;
  left: -1.2rem;
}
/* line 169, ../sass/index.scss */
.timeline .h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}
/* line 175, ../sass/index.scss */
.timeline .h5 {
  font-size: 1.4rem;
  color: #ccc;
}
/* line 179, ../sass/index.scss */
.timeline .timeline-content {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #696868;
  margin-top: 10px;
}
@media only screen and (min-width: 1170px) {
  /* line 186, ../sass/index.scss */
  .timeline::before {
    left: 50%;
  }
  /* line 189, ../sass/index.scss */
  .timeline .timeline-block {
    margin-bottom: 3rem;
  }
  /* line 191, ../sass/index.scss */
  .timeline .timeline-block:nth-child(even) {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 194, ../sass/index.scss */
  .timeline .timeline-block:nth-child(even) .timeline-main {
    float: right;
  }
  /* line 197, ../sass/index.scss */
  .timeline .timeline-block:nth-child(even) .timeline-main:before {
    left: -1.2rem;
    z-index: 2;
    width: 0.1rem;
    height: 0.1rem;
    border-color: transparent #fff transparent transparent;
  }
  /* line 206, ../sass/index.scss */
  .timeline .timeline-point {
    left: 50%;
    margin-left: -0.9rem;
  }
  /* line 211, ../sass/index.scss */
  .timeline .timeline-main {
    width: 46%;
    margin-left: 0;
  }
  /* line 214, ../sass/index.scss */
  .timeline .timeline-main:before {
    border-color: transparent transparent transparent #fff;
    left: 100%;
  }
}

/* line 223, ../sass/index.scss */
.tech .tech-tag {
  width: 50%;
  margin: 100px auto;
}
/* line 227, ../sass/index.scss */
.tech .tag {
  display: inline-block;
}

/* line 237, ../sass/index.scss */
.tech .tag1 {
  opacity: 0.05478;
  padding: 0.05478rem 0.16434rem;
  font-size: 0.6068rem;
  color: #02070b;
  animation: 7.01705s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.05478;
  }
  30% {
    opacity: 0.35478;
  }
  50% {
    opacity: 0.65478;
  }
  70% {
    opacity: 0.35478;
  }
  100% {
    opacity: 0.05478;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag2 {
  opacity: 0.70451;
  padding: 0.70451rem 2.11353rem;
  font-size: 4.21306rem;
  color: #15558d;
  animation: 7.70043s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.70451;
  }
  30% {
    opacity: 1.00451;
  }
  50% {
    opacity: 1.30451;
  }
  70% {
    opacity: 1.00451;
  }
  100% {
    opacity: 0.70451;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag3 {
  opacity: 0.28739;
  padding: 0.28739rem 0.86218rem;
  font-size: 7.15835rem;
  color: #092239;
  animation: 7.11524s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.28739;
  }
  30% {
    opacity: 0.58739;
  }
  50% {
    opacity: 0.88739;
  }
  70% {
    opacity: 0.58739;
  }
  100% {
    opacity: 0.28739;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag4 {
  opacity: 0.98544;
  padding: 0.98544rem 2.95632rem;
  font-size: 8.00242rem;
  color: #1e76c5;
  animation: 5.2983s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.98544;
  }
  30% {
    opacity: 1.28544;
  }
  50% {
    opacity: 1.58544;
  }
  70% {
    opacity: 1.28544;
  }
  100% {
    opacity: 0.98544;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag5 {
  opacity: 0.49749;
  padding: 0.49749rem 1.49248rem;
  font-size: 3.66985rem;
  color: #0f3c63;
  animation: 8.97101s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.49749;
  }
  30% {
    opacity: 0.79749;
  }
  50% {
    opacity: 1.09749;
  }
  70% {
    opacity: 0.79749;
  }
  100% {
    opacity: 0.49749;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag6 {
  opacity: 0.957;
  padding: 0.957rem 2.87101rem;
  font-size: 5.95747rem;
  color: #1d73bf;
  animation: 7.82887s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.957;
  }
  30% {
    opacity: 1.257;
  }
  50% {
    opacity: 1.557;
  }
  70% {
    opacity: 1.257;
  }
  100% {
    opacity: 0.957;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag7 {
  opacity: 0.35093;
  padding: 0.35093rem 1.0528rem;
  font-size: 0.45486rem;
  color: #0b2a46;
  animation: 6.76109s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.35093;
  }
  30% {
    opacity: 0.65093;
  }
  50% {
    opacity: 0.95093;
  }
  70% {
    opacity: 0.65093;
  }
  100% {
    opacity: 0.35093;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag8 {
  opacity: 0.65523;
  padding: 0.65523rem 1.96569rem;
  font-size: 10.26813rem;
  color: #144f83;
  animation: 6.46267s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.65523;
  }
  30% {
    opacity: 0.95523;
  }
  50% {
    opacity: 1.25523;
  }
  70% {
    opacity: 0.95523;
  }
  100% {
    opacity: 0.65523;
  }
}
/* line 237, ../sass/index.scss */
.tech .tag9 {
  opacity: 0.58355;
  padding: 0.58355rem 1.75065rem;
  font-size: 7.55712rem;
  color: #124675;
  animation: 6.28523s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.58355;
  }
  30% {
    opacity: 0.88355;
  }
  50% {
    opacity: 1.18355;
  }
  70% {
    opacity: 0.88355;
  }
  100% {
    opacity: 0.58355;
  }
}
