/* line 5, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/index.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../sass/index.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 12, ../sass/index.scss */
html {
  font-size: 100px;
}

/* line 15, ../sass/index.scss */
body {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
}

/* line 20, ../sass/index.scss */
.cantainer {
  height: 100%;
}

/* line 23, ../sass/index.scss */
.nav {
  position: fixed;
  top: 40%;
  left: 100px;
  z-index: 99;
}
/* line 28, ../sass/index.scss */
.nav ul li.step {
  width: 10px;
  height: 10px;
  border: 2px solid #EF7883;
  border-radius: 10px;
  margin: 8px;
  cursor: pointer;
  opacity: 0.5;
}
/* line 37, ../sass/index.scss */
.nav ul li.active {
  opacity: 1;
}

/* line 42, ../sass/index.scss */
section.item {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  padding: 0 .5rem;
}

/* line 50, ../sass/index.scss */
section.item1 {
  background: #ddd;
}

/* line 53, ../sass/index.scss */
section.item2 {
  background: #F3DBDB;
}

/* line 56, ../sass/index.scss */
section.item3 {
  background: #DBF3DB;
}

/* line 59, ../sass/index.scss */
section.item4 {
  background: #DBE8F3;
}

/* line 62, ../sass/index.scss */
section.item5 {
  background: #DBE8F3;
}

/* line 65, ../sass/index.scss */
section.active {
  display: block;
}

/* line 68, ../sass/index.scss */
section.prev-scale-down {
  -webkit-animation: scaleDown 1s ease;
  opacity: 0;
}

/* line 73, ../sass/index.scss */
section.next-slide-up {
  -webkit-animation: slideUp 1s ease;
  opacity: 1;
}

/* line 77, ../sass/index.scss */
section.next-scale-up {
  -webkit-animation: scaleUp 1s ease;
  opacity: 0;
}

/* line 81, ../sass/index.scss */
section.prev-slide-down {
  -webkit-animation: slideDown 1s ease;
  opacity: 1;
}

@-webkit-keyframes scaleDown {
  0% {
    -webkit-transform: scale(1) translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.8) translateY(50%);
    opacity: 0;
  }
}
@-webkit-keyframes scaleUp {
  0% {
    -webkit-transform: scale(0.5) translateY(50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1) translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
/* line 126, ../sass/index.scss */
.timeline {
  padding: .5rem .5rem;
}
/* line 128, ../sass/index.scss */
.timeline::before {
  content: ' ';
  width: 0.04rem;
  height: 100%;
  display: block;
  background: #7EA0CC;
  position: absolute;
  left: .6rem;
  top: 0;
}
/* line 139, ../sass/index.scss */
.timeline .timeline-block {
  position: relative;
  width: 100%;
  margin-bottom: .5rem;
}
/* line 143, ../sass/index.scss */
.timeline .timeline-block:first-child {
  margin-top: .3rem;
}
/* line 148, ../sass/index.scss */
.timeline .timeline-point {
  position: absolute;
  width: .2rem;
  height: .2rem;
  border: 0.04rem solid #B8C6D8;
  border-radius: .2rem;
  background: #7EA0CC;
  left: 0.02rem;
  top: 0.06rem;
}
/* line 158, ../sass/index.scss */
.timeline .timeline-main {
  background: #fff;
  padding: .2rem;
  position: relative;
  border-radius: 0.05rem;
  margin-left: .4rem;
}
/* line 164, ../sass/index.scss */
.timeline .timeline-main:before {
  content: ' ';
  width: 0.01rem;
  height: 0.01rem;
  border-width: 0.06rem;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  display: block;
  position: absolute;
  top: 0.08rem;
  left: -0.12rem;
}
/* line 178, ../sass/index.scss */
.timeline .h3 {
  font-size: .2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: .1rem;
}
/* line 184, ../sass/index.scss */
.timeline .h5 {
  font-size: 0.14rem;
  color: #ccc;
}
/* line 188, ../sass/index.scss */
.timeline .timeline-content {
  font-size: 0.16rem;
  line-height: .2rem;
  color: #696868;
  margin-top: .1px;
}
@media only screen and (min-width: 1170px) {
  /* line 195, ../sass/index.scss */
  .timeline::before {
    left: 50%;
  }
  /* line 198, ../sass/index.scss */
  .timeline .timeline-block {
    margin-bottom: .3rem;
  }
  /* line 200, ../sass/index.scss */
  .timeline .timeline-block:nth-child(even) {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 203, ../sass/index.scss */
  .timeline .timeline-block:nth-child(even) .timeline-main {
    float: right;
  }
  /* line 206, ../sass/index.scss */
  .timeline .timeline-block:nth-child(even) .timeline-main:before {
    left: -.12rem;
    z-index: 2;
    width: 0.01rem;
    height: 0.01rem;
    border-color: transparent #fff transparent transparent;
  }
  /* line 215, ../sass/index.scss */
  .timeline .timeline-point {
    left: 50%;
    margin-left: -0.09rem;
  }
  /* line 220, ../sass/index.scss */
  .timeline .timeline-main {
    width: 46%;
    margin-left: 0;
  }
  /* line 223, ../sass/index.scss */
  .timeline .timeline-main:before {
    border-color: transparent transparent transparent #fff;
    left: 100%;
  }
}

/* line 232, ../sass/index.scss */
.tech .tech-tag {
  width: 50%;
  margin: 1rem auto;
}
/* line 236, ../sass/index.scss */
.tech .tag {
  display: inline-block;
}

/* line 246, ../sass/index.scss */
.tech .tag1 {
  opacity: 0.92852;
  padding: 0.09285rem 0.27855rem;
  font-size: 0.79103rem;
  color: #1c6fba;
  animation: 9.10465s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.92852;
  }
  30% {
    opacity: 1.22852;
  }
  50% {
    opacity: 1.52852;
  }
  70% {
    opacity: 1.22852;
  }
  100% {
    opacity: 0.92852;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag2 {
  opacity: 0.73953;
  padding: 0.07395rem 0.22186rem;
  font-size: 0.08206rem;
  color: #165994;
  animation: 9.16779s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.73953;
  }
  30% {
    opacity: 1.03953;
  }
  50% {
    opacity: 1.33953;
  }
  70% {
    opacity: 1.03953;
  }
  100% {
    opacity: 0.73953;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag3 {
  opacity: 0.0586;
  padding: 0.00586rem 0.01758rem;
  font-size: 1.06711rem;
  color: #02070c;
  animation: 6.80891s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.0586;
  }
  30% {
    opacity: 0.3586;
  }
  50% {
    opacity: 0.6586;
  }
  70% {
    opacity: 0.3586;
  }
  100% {
    opacity: 0.0586;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag4 {
  opacity: 0.81234;
  padding: 0.08123rem 0.2437rem;
  font-size: 0.21251rem;
  color: #1861a2;
  animation: 9.65703s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.81234;
  }
  30% {
    opacity: 1.11234;
  }
  50% {
    opacity: 1.41234;
  }
  70% {
    opacity: 1.11234;
  }
  100% {
    opacity: 0.81234;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag5 {
  opacity: 0.06884;
  padding: 0.00688rem 0.02065rem;
  font-size: 0.719rem;
  color: #02080e;
  animation: 8.74011s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.06884;
  }
  30% {
    opacity: 0.36884;
  }
  50% {
    opacity: 0.66884;
  }
  70% {
    opacity: 0.36884;
  }
  100% {
    opacity: 0.06884;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag6 {
  opacity: 0.71848;
  padding: 0.07185rem 0.21554rem;
  font-size: 0.69691rem;
  color: #165690;
  animation: 8.21575s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.71848;
  }
  30% {
    opacity: 1.01848;
  }
  50% {
    opacity: 1.31848;
  }
  70% {
    opacity: 1.01848;
  }
  100% {
    opacity: 0.71848;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag7 {
  opacity: 0.77341;
  padding: 0.07734rem 0.23202rem;
  font-size: 0.80064rem;
  color: #175d9b;
  animation: 5.01713s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.77341;
  }
  30% {
    opacity: 1.07341;
  }
  50% {
    opacity: 1.37341;
  }
  70% {
    opacity: 1.07341;
  }
  100% {
    opacity: 0.77341;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag8 {
  opacity: 0.81682;
  padding: 0.08168rem 0.24505rem;
  font-size: 0.57832rem;
  color: #1962a3;
  animation: 5.00976s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.81682;
  }
  30% {
    opacity: 1.11682;
  }
  50% {
    opacity: 1.41682;
  }
  70% {
    opacity: 1.11682;
  }
  100% {
    opacity: 0.81682;
  }
}
/* line 246, ../sass/index.scss */
.tech .tag9 {
  opacity: 0.12623;
  padding: 0.01262rem 0.03787rem;
  font-size: 0.57055rem;
  color: #040f19;
  animation: 7.45625s fade 0.3s ease infinite;
}

@keyframes fade {
  0% {
    opacity: 0.12623;
  }
  30% {
    opacity: 0.42623;
  }
  50% {
    opacity: 0.72623;
  }
  70% {
    opacity: 0.42623;
  }
  100% {
    opacity: 0.12623;
  }
}
/* line 271, ../sass/index.scss */
.reel {
  float: left;
  margin: 0 auto;
  padding: 0.5rem calc(((100% / 3) - 2rem) / 2);
  width: calc(100% / 3);
}
/* line 277, ../sass/index.scss */
.reel .nail {
  width: .1rem;
  height: .1rem;
  border-radius: .1rem;
  background: #333;
  margin: 0 auto .69rem auto;
  position: relative;
  background: -webkit-radial-gradient(#fff, #333);
  z-index: 3;
  box-shadow: 0.02rem 0 0.11rem #ccc;
}
/* line 287, ../sass/index.scss */
.reel .nail:before, .reel .nail:after {
  content: ' ';
  position: absolute;
  width: 0.03rem;
  height: 1rem;
  background: #ccc;
  top: -0.06rem;
  z-index: 1;
  box-shadow: 0.02rem 0 0.11rem #bbb;
}
/* line 297, ../sass/index.scss */
.reel .nail:before {
  transform: rotate(45deg);
  left: -0.35rem;
}
/* line 301, ../sass/index.scss */
.reel .nail:after {
  transform: rotate(135deg);
  left: 0.42rem;
}
/* line 306, ../sass/index.scss */
.reel .shaft {
  width: 2rem;
  height: .25rem;
  /* border:0.2rem solid #333; */
  background: -webkit-linear-gradient(top, #ccc, #fff 50%, #ccc 95%);
  position: relative;
}
/* line 313, ../sass/index.scss */
.reel .shaft:before, .reel .shaft:after {
  content: ' ';
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  background: #333;
  top: 50%;
  margin-top: -0.075rem;
}
/* line 322, ../sass/index.scss */
.reel .shaft:before {
  left: -0.15rem;
}
/* line 325, ../sass/index.scss */
.reel .shaft:after {
  right: -0.15rem;
}
/* line 333, ../sass/index.scss */
.reel .content {
  width: 2rem;
  height: 3rem;
  display: none;
  overflow: hidden;
  background: -webkit-linear-gradient(top, #fff 5%, #ccc 95%);
  padding: .1rem;
  line-height: 20px;
}
/* line 341, ../sass/index.scss */
.reel .content .title {
  font-size: 0.2rem;
  color: #333;
  text-align: center;
  padding-bottom: .1rem;
}
/* line 347, ../sass/index.scss */
.reel .content .detail {
  font-size: .12rem;
  color: #5F5F5F;
}

/* line 353, ../sass/index.scss */
section.info {
  padding-top: .5rem;
  text-align: center;
}
/* line 356, ../sass/index.scss */
section.info .head {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: .1rem;
}
/* line 364, ../sass/index.scss */
section.info .type {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  animation-name: type;
  padding: .1rem 0;
}
/* line 371, ../sass/index.scss */
section.info .name {
  color: #333;
  width: 1rem;
  font-size: .5rem;
  font-family: Arial;
  font-weight: bold;
  /* animation-timing-function:steps(3,end);
  animation-duration:1.5s; */
}
/* line 380, ../sass/index.scss */
section.info .position, section.info .email, section.info .phone {
  color: #757171;
  font-size: .3rem;
  width: 3.5rem;
  animation-timing-function: steps(11, end);
  animation-duration: 2.5s;
}
/* line 387, ../sass/index.scss */
section.info .phone {
  width: 1.7rem;
}
/* line 390, ../sass/index.scss */
section.info .education {
  color: #969595;
  font-size: .25rem;
  width: 4.3rem;
  animation-timing-function: steps(18, end);
  animation-duration: 3.5s;
}

@-webkit-keyframes type {
  from {
    width: 0;
  }
}
@keyframes type {
  from {
    width: 0;
  }
}
