/* line 5, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/main2.scss */
* {
  box-sizing: border-box;
}

/* line 9, ../sass/main2.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 12, ../sass/main2.scss */
html {
  line-height: 1;
  height: 100%;
  font-size: 625%;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
  /* line 19, ../sass/main2.scss */
  html {
    font-size: 350%;
  }
}
/* line 23, ../sass/main2.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  height: auto;
  min-height: 100%;
  position: relative;
  font-size: .14rem;
}

/* line 33, ../sass/main2.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../sass/main2.scss */
a {
  text-decoration: none;
  color: #222222;
}

/* line 40, ../sass/main2.scss */
a:visited {
  color: #555555;
}

/* line 43, ../sass/main2.scss */
a:focus {
  outline: thin dotted;
  color: black;
}

/* line 47, ../sass/main2.scss */
a:hover, a:active {
  outline: 0;
  text-decoration: underline;
}

/* line 52, ../sass/main2.scss */
.main {
  padding-bottom: 1.4rem;
}

/* line 55, ../sass/main2.scss */
.pagination {
  margin: .2rem .1rem;
  text-align: center;
}
/* line 61, ../sass/main2.scss */
.pagination ul {
  display: inline;
  margin-left: .1rem;
  margin-right: .1rem;
}
/* line 66, ../sass/main2.scss */
.pagination .inline-list {
  padding-left: 0;
}
/* line 68, ../sass/main2.scss */
.pagination .inline-list li {
  display: inline;
  padding-left: .04rem;
  padding-right: .04rem;
}
/* line 74, ../sass/main2.scss */
.pagination .current-page {
  font-weight: 700;
}

/* line 78, ../sass/main2.scss */
.footer-wrapper {
  *zoom: 1;
  margin: 2em auto;
  font-size: .14rem;
  text-align: center;
  color: #999;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 87, ../sass/main2.scss */
.footer-wrapper .copy {
  margin-bottom: .15rem;
}
/* line 90, ../sass/main2.scss */
.footer-wrapper a {
  color: #999;
  text-decoration: underline;
}
/* line 94, ../sass/main2.scss */
.footer-wrapper a:hover {
  color: #555;
}

/* line 98, ../sass/main2.scss */
.time {
  font-style: italic;
  font-size: .14rem;
  color: #B1B1B1;
  margin-left: .1rem;
}

/* nav menu */
/* line 105, ../sass/main2.scss */
.dl-menuwrapper {
  position: fixed;
  width: 100%;
  height: 1.8rem;
  padding-top: .6rem;
  padding-bottom: .2rem;
  background: #fff;
  z-index: 1000;
  -moz-animation: MenuAnimIn 0.6s linear;
  -webkit-animation: MenuAnimIn 0.6s linear;
  animation: MenuAnimIn 0.6s linear;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 116, ../sass/main2.scss */
.dl-menuwrapper .logo {
  text-align: center;
  margin: 0 auto;
}
/* line 119, ../sass/main2.scss */
.dl-menuwrapper .logo .img {
  width: 2rem;
  height: .5rem;
  border-radius: .05rem;
  margin-bottom: .1rem;
}
/* line 126, ../sass/main2.scss */
.dl-menuwrapper ul {
  width: 6rem;
  margin: 0 auto;
  padding: 0px .8rem;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 135, ../sass/main2.scss */
.dl-menuwrapper li {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 24%;
}
/* line 140, ../sass/main2.scss */
.dl-menuwrapper li i {
  display: inline-block;
  width: .2rem;
  color: #000;
}
/* line 145, ../sass/main2.scss */
.dl-menuwrapper li a {
  display: inline-block;
  position: relative;
  font-size: .14rem;
  line-height: .2rem;
  color: #222;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
/* line 154, ../sass/main2.scss */
.dl-menuwrapper li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: .02rem;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
/* line 168, ../sass/main2.scss */
.dl-menuwrapper li a:hover {
  text-decoration: none;
}
/* line 171, ../sass/main2.scss */
.dl-menuwrapper li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* line 180, ../sass/main2.scss */
#post-index .main {
  max-width: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.2rem;
}
/* line 186, ../sass/main2.scss */
#post-index article {
  background-color: white;
  box-shadow: 0 0 0 0.01rem fade(#222222, 10), 0 0.06rem 0.12rem fade(#222222, 10);
  -webkit-border-radius: .03rem;
  -moz-border-radius: .03rem;
  border-radius: .03rem;
  padding: .3rem .8rem .5rem .8rem;
}

/* line 195, ../sass/main2.scss */
.entry,
.hentry {
  *zoom: 1;
}

/* line 199, ../sass/main2.scss */
.entry:before, .entry:after,
.hentry:before,
.hentry:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 206, ../sass/main2.scss */
.entry:after,
.hentry:after {
  clear: both;
}

/* line 211, ../sass/main2.scss */
.hentry {
  box-shadow: .04rem .05rem .18rem -.05rem #D6D4D4;
  border: 1px solid #ddd;
  margin-bottom: .3rem;
  opacity: 0;
  -moz-animation: drop 1s ease 0.5s;
  -webkit-animation: drop 1s ease 0.5s;
  animation: drop 1s ease 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 218, ../sass/main2.scss */
.hentry .entry-meta {
  color: #bbbbbb;
  margin: .15rem 0;
}
/* line 221, ../sass/main2.scss */
.hentry .entry-meta a {
  color: #bbb;
}
/* line 223, ../sass/main2.scss */
.hentry .entry-meta a:hover {
  text-decoration: underline;
}
/* line 228, ../sass/main2.scss */
.hentry .entry-content {
  font-size: .16rem;
  color: #666;
  line-height: 1.625;
  margin-top: .26rem;
}
/* line 233, ../sass/main2.scss */
.hentry .entry-content p > a, .hentry .entry-content li > a {
  border-bottom: 1px dotted #a2a2a2;
}
/* line 235, ../sass/main2.scss */
.hentry .entry-content p > a:hover, .hentry .entry-content li > a:hover {
  border-bottom-style: solid;
}
/* line 240, ../sass/main2.scss */
.hentry .entry-title a.title {
  color: #fff;
  background: #333;
  display: inline-block;
  padding: .06rem .2rem;
  font-size: .25rem;
  border-radius: .05rem;
  position: relative;
}
/* line 248, ../sass/main2.scss */
.hentry .entry-title a.title:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, #ffffff 45%, #d6d3d3 50%, #ffffff 56%, #cecdcd 80%);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
/* line 265, ../sass/main2.scss */
.hentry .entry-title a.title:hover:before, .hentry .entry-title a.title:focus:before, .hentry .entry-title a.title:active:before {
  width: .2rem;
  height: .2rem;
}

/* line 272, ../sass/main2.scss */
#post .hentry {
  box-shadow: none;
}
/* line 275, ../sass/main2.scss */
#post .entry-content {
  max-width: 6rem;
  margin: 0px auto 0px auto;
}
/* line 279, ../sass/main2.scss */
#post .entry-content p:first-child {
  font-size: .2rem;
  line-height: 1.3;
  margin-bottom: .16rem;
  margin-bottom: 0.1625rem;
}
/* line 286, ../sass/main2.scss */
#post .header-title {
  text-align: center;
  margin: 2.1rem 0 0;
  padding: 0 .2rem;
}
/* line 291, ../sass/main2.scss */
#post .header-title h1 {
  margin: .1rem .2rem;
  font-weight: 700;
  font-size: 0.35rem;
  color: #555555;
}
/* line 297, ../sass/main2.scss */
#post .header-title h2 {
  margin: 0;
  font-size: .18rem;
  color: #888888;
  margin-bottom: .3rem;
}
/* line 303, ../sass/main2.scss */
#post .read-more {
  position: relative;
  max-width: 6rem;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0 0 0 1px fade(#bbbbbb, 10), 0 0.06rem 0.12rem fade(black, 10);
  -webkit-border-radius: .03rem;
  -moz-border-radius: .03rem;
  border-radius: .03rem;
  *zoom: 1;
}
/* line 314, ../sass/main2.scss */
#post .read-more:before, #post .read-more:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 319, ../sass/main2.scss */
#post .read-more .read-more-list {
  border-top: solid 1px #bbbbbb;
}
/* line 322, ../sass/main2.scss */
#post .read-more .list-item {
  width: 49%;
  float: left;
  margin: .2rem 0;
  text-align: left;
  font-size: .14rem;
}
/* line 328, ../sass/main2.scss */
#post .read-more .list-item:nth-child(2) {
  float: right;
  text-align: right;
}
/* line 332, ../sass/main2.scss */
#post .read-more .list-item h4 {
  margin-bottom: .05rem;
}
/* line 335, ../sass/main2.scss */
#post .read-more .list-item span {
  display: block;
  color: #a2a2a2;
}

/* archives */
/* line 344, ../sass/main2.scss */
.archives {
  padding: .2rem;
  border-left-style: solid;
  border-left-color: #eee;
}
/* line 348, ../sass/main2.scss */
.archives.hentry {
  box-shadow: none;
  border: 0;
}
/* line 352, ../sass/main2.scss */
.archives blockquote {
  font-size: .23rem;
  margin-bottom: .3rem;
  position: relative;
}
/* line 356, ../sass/main2.scss */
.archives blockquote:before {
  content: " ";
  position: absolute;
  width: .12rem;
  height: .12rem;
  background: #B1A4A4;
  -moz-border-radius: 0.12rem;
  -webkit-border-radius: 0.12rem;
  border-radius: 0.12rem;
  left: -.28rem;
  top: 50%;
  margin-top: -.06rem;
}
/* line 368, ../sass/main2.scss */
.archives .collection {
  margin-bottom: .55rem;
  opacity: 0;
  -moz-animation: drop 1s ease 0.5s;
  -webkit-animation: drop 1s ease 0.5s;
  animation: drop 1s ease 0.5s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 374, ../sass/main2.scss */
.archives .collection-item {
  font-size: .16rem;
  margin-top: .3rem;
  padding-left: .1rem;
  padding-bottom: .05rem;
  border-bottom: .01rem dotted #ddd;
  position: relative;
}
/* line 381, ../sass/main2.scss */
.archives .collection-item:before {
  content: " ";
  position: absolute;
  box-sizing: border-box;
  width: .10rem;
  height: .10rem;
  background: #B1A4A4;
  border: .03rem solid #E0DEDE;
  -moz-border-radius: 0.05rem;
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
  left: -.27rem;
  top: 50%;
  margin-top: -.08rem;
}
/* line 394, ../sass/main2.scss */
.archives .collection-item:hover {
  border-color: #888181;
}
/* line 397, ../sass/main2.scss */
.archives .collection-item a {
  color: #888181;
}
/* line 399, ../sass/main2.scss */
.archives .collection-item a:hover {
  text-decoration: none;
}

/* tags */
/* line 409, ../sass/main2.scss */
.tags .entry-meta {
  opacity: 0;
  -moz-animation: drop 1s ease;
  -webkit-animation: drop 1s ease;
  animation: drop 1s ease;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 413, ../sass/main2.scss */
.tags .entry-meta li {
  display: inline-block;
  padding: .05rem .23rem .05rem .2rem;
  margin: 0 .1rem .2rem .1rem;
  background: #ccc;
  position: relative;
  -moz-border-radius: 0.03rem;
  -webkit-border-radius: 0.03rem;
  border-radius: 0.03rem;
  font-size: .18rem;
}
/* line 421, ../sass/main2.scss */
.tags .entry-meta li span {
  position: absolute;
  top: 0;
  right: .15rem;
  font-size: .14rem;
}
/* line 428, ../sass/main2.scss */
.tags .entry-meta li:before {
  content: " ";
  position: absolute;
  border-color: transparent transparent transparent #fff;
  border-width: .14rem;
  border-style: solid;
  left: 0;
  top: 0;
}
/* line 438, ../sass/main2.scss */
.tags .entry-meta li:after {
  content: " ";
  position: absolute;
  width: .05rem;
  height: .05rem;
  -moz-border-radius: 0.05rem;
  -webkit-border-radius: 0.05rem;
  border-radius: 0.05rem;
  background: #fff;
  right: .05rem;
  top: 50%;
  margin-top: -.025rem;
}
/* line 451, ../sass/main2.scss */
.tags .hentry {
  position: relative;
  padding: 0.2rem 0 0.3rem 0 !important;
}
/* line 455, ../sass/main2.scss */
.tags .target {
  padding-top: 2.5rem;
  margin-top: -2.5rem;
  display: block;
  position: relative;
  z-index: -1;
}
/* line 462, ../sass/main2.scss */
.tags .tag-title {
  position: relative;
  display: inline-block;
}
/* line 465, ../sass/main2.scss */
.tags .tag-title .h2 {
  font-size: .2rem;
  color: #fff;
  display: inline-block;
  background: #B5A8A8;
  /* border-top-right-radius: .05rem;
  border-bottom-right-radius: .05rem; */
  width: auto;
  height: .3rem;
  padding: .05rem .1rem;
  z-index: 2;
  position: relative;
}
/* line 478, ../sass/main2.scss */
.tags .tag-title .em {
  position: absolute;
  width: .26rem;
  height: .28rem;
  background: #B5A8A8;
  background: -webkit-linear-gradient(left, #8C7B7B, #C7BFBF);
  box-sizing: border-box;
  right: -.18rem;
  top: .08rem;
  z-index: 0;
}
/* line 488, ../sass/main2.scss */
.tags .tag-title .em:before {
  content: " ";
  border-color: transparent #fff transparent transparent;
  border-top-width: .14rem;
  border-bottom-width: .14rem;
  border-right-width: .08rem;
  border-left-width: .08rem;
  border-style: solid;
  position: absolute;
  right: 0;
  box-sizing: border-box;
}
/* line 500, ../sass/main2.scss */
.tags .tag-title .em:after {
  content: " ";
  position: absolute;
  border-color: #8C7B7B transparent transparent #8C7B7B;
  border-width: .04rem;
  border-style: solid;
  left: 0;
  bottom: 0;
}
/* line 512, ../sass/main2.scss */
.tags .ul {
  margin: .3rem;
}
/* line 514, ../sass/main2.scss */
.tags .ul .entry-title {
  padding: 0.1rem 0;
}

@-moz-keyframes MenuAnimIn {
  0% {
    transform: translateY(-0.6rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@-webkit-keyframes MenuAnimIn {
  0% {
    transform: translateY(-0.6rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@keyframes MenuAnimIn {
  0% {
    transform: translateY(-0.6rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
}
@-moz-keyframes drop {
  0% {
    -webkit-transform: translateY(-0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes drop {
  0% {
    -webkit-transform: translateY(-0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
@keyframes drop {
  0% {
    -webkit-transform: translateY(-0.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
