/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/main2.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../sass/main2.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 11, ../sass/main2.scss */
html {
  line-height: 1;
  height: 100%;
  font-size: 625%;
  font-family: "Lato", Calibri, Arial, sans-serif;
}

/* line 17, ../sass/main2.scss */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  height: auto;
  min-height: 100%;
  position: relative;
  font-size: .14rem;
}

/* line 27, ../sass/main2.scss */
ol, ul {
  list-style: none;
}

/* line 30, ../sass/main2.scss */
a {
  text-decoration: none;
  color: #222222;
}

/* line 34, ../sass/main2.scss */
a:visited {
  color: #555555;
}

/* line 37, ../sass/main2.scss */
a:focus {
  outline: thin dotted;
  color: black;
}

/* line 41, ../sass/main2.scss */
a:hover, a:active {
  outline: 0;
  text-decoration: underline;
}

/* line 46, ../sass/main2.scss */
.main {
  padding-bottom: 140px;
}

/* line 49, ../sass/main2.scss */
.pagination {
  margin: 20px 10px;
  text-align: center;
}
/* line 52, ../sass/main2.scss */
.pagination ul {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
/* line 57, ../sass/main2.scss */
.pagination .inline-list {
  padding-left: 0;
}
/* line 59, ../sass/main2.scss */
.pagination .inline-list li {
  display: inline;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 65, ../sass/main2.scss */
.pagination .current-page {
  font-weight: 700;
}

/* line 69, ../sass/main2.scss */
.footer-wrapper {
  *zoom: 1;
  margin: 2em auto;
  font-size: 14px;
  text-align: center;
  color: #999;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* line 78, ../sass/main2.scss */
.footer-wrapper .copy {
  margin-bottom: 15px;
}
/* line 81, ../sass/main2.scss */
.footer-wrapper a {
  color: #999;
  text-decoration: underline;
}
/* line 85, ../sass/main2.scss */
.footer-wrapper a:hover {
  color: #555;
}

/* line 89, ../sass/main2.scss */
.time {
  font-style: italic;
  font-size: .14rem;
  color: #B1B1B1;
  margin-left: .1rem;
}

/* nav menu */
/* line 96, ../sass/main2.scss */
.dl-menuwrapper {
  position: fixed;
  width: 100%;
  opacity: 0;
  padding-bottom: 20px;
  background: #fff;
  z-index: 1000;
  -webkit-animation: MenuAnimIn 0.6s linear;
  -moz-animation: MenuAnimIn 0.6s linear;
  animation: MenuAnimIn 0.6s linear;
}
/* line 106, ../sass/main2.scss */
.dl-menuwrapper .logo {
  text-align: center;
  margin: 0 auto;
}
/* line 109, ../sass/main2.scss */
.dl-menuwrapper .logo .img {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
}
/* line 116, ../sass/main2.scss */
.dl-menuwrapper ul {
  width: 600px;
  margin: 0 auto;
  padding: 0px 80px;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 125, ../sass/main2.scss */
.dl-menuwrapper li {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 19%;
}
/* line 130, ../sass/main2.scss */
.dl-menuwrapper li i {
  display: inline-block;
  width: .2rem;
  color: #000;
}
/* line 135, ../sass/main2.scss */
.dl-menuwrapper li a {
  display: inline-block;
  position: relative;
  font-size: .14rem;
  line-height: 20px;
  color: #222;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
/* line 144, ../sass/main2.scss */
.dl-menuwrapper li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: .02rem;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
/* line 158, ../sass/main2.scss */
.dl-menuwrapper li a:hover {
  text-decoration: none;
}
/* line 161, ../sass/main2.scss */
.dl-menuwrapper li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* line 170, ../sass/main2.scss */
#post-index .main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 250px;
}
/* line 176, ../sass/main2.scss */
#post-index article {
  background-color: white;
  box-shadow: 0 0 0 1px fade(#222222, 10), 0 6px 12px fade(#222222, 10);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 50px 80px;
}

/* line 186, ../sass/main2.scss */
.entry,
.hentry {
  *zoom: 1;
}

/* line 191, ../sass/main2.scss */
.entry:before, .entry:after,
.hentry:before,
.hentry:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 197, ../sass/main2.scss */
.entry:after,
.hentry:after {
  clear: both;
}

/* line 201, ../sass/main2.scss */
.main .hentry {
  box-shadow: 4px 5px 18px -5px #D6D4D4;
  border: 1px solid #ddd;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-animation: drop 1s ease 0.5s;
  -moz-animation: drop 1s ease 0.5s;
  animation: drop 1s ease 0.5s;
}
/* line 209, ../sass/main2.scss */
.main .hentry .entry-meta {
  font-size: 0.075rem;
  color: #bbbbbb;
  margin: 15px 0;
}
/* line 213, ../sass/main2.scss */
.main .hentry .entry-meta a {
  color: #bbb;
}
/* line 215, ../sass/main2.scss */
.main .hentry .entry-meta a:hover {
  text-decoration: underline;
}
/* line 220, ../sass/main2.scss */
.main .hentry .entry-content {
  font-size: 16px;
  color: #666;
  line-height: 1.625;
  margin-top: 26px;
}
/* line 225, ../sass/main2.scss */
.main .hentry .entry-content p > a, .main .hentry .entry-content li > a {
  border-bottom: 1px dotted #a2a2a2;
}
/* line 227, ../sass/main2.scss */
.main .hentry .entry-content p > a:hover, .main .hentry .entry-content li > a:hover {
  border-bottom-style: solid;
}
/* line 232, ../sass/main2.scss */
.main .hentry .entry-title a.title {
  color: #fff;
  background: #333;
  display: inline-block;
  padding: 6px 20px;
  font-size: 25px;
  border-radius: 5px;
  position: relative;
}
/* line 240, ../sass/main2.scss */
.main .hentry .entry-title a.title:before {
  pointer-events: none;
  position: absolute;
  content: '';
  height: 0px;
  width: 0px;
  top: 0;
  right: 0;
  background: white;
  /* IE9 */
  background: linear-gradient(225deg, #ffffff 45%, #d6d3d3 50%, #ffffff 56%, #cecdcd 80%);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: width, height;
  transition-property: width, height;
}
/* line 257, ../sass/main2.scss */
.main .hentry .entry-title a.title:hover:before, .main .hentry .entry-title a.title:focus:before, .main .hentry .entry-title a.title:active:before {
  width: 20px;
  height: 20px;
}

/* line 264, ../sass/main2.scss */
#post .hentry {
  box-shadow: none;
}
/* line 267, ../sass/main2.scss */
#post .entry-content {
  max-width: 800px;
  margin: 0px auto 0px auto;
  padding: 50px 80px;
}
/* line 271, ../sass/main2.scss */
#post .entry-content p:first-child {
  font-size: 20px;
  font-size: 0.19rem;
  line-height: 1.3;
  margin-bottom: 26px;
  margin-bottom: 0.1625rem;
}
/* line 279, ../sass/main2.scss */
#post .header-title {
  text-align: center;
  margin: 250px 0 0;
  padding: 0 20px;
}
/* line 284, ../sass/main2.scss */
#post .header-title h1 {
  margin: 10px 20px;
  font-weight: 700;
  font-size: 35px;
  color: #555555;
}
/* line 290, ../sass/main2.scss */
#post .header-title h2 {
  margin: 0;
  font-size: 18px;
  color: #888888;
}
/* line 295, ../sass/main2.scss */
#post .read-more {
  position: relative;
  max-width: 800px;
  padding: 0px 80px;
  margin: 0px auto;
  background-color: white;
  box-shadow: 0 0 0 1px fade(#bbbbbb, 10), 0 6px 12px fade(black, 10);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  *zoom: 1;
}
/* line 306, ../sass/main2.scss */
#post .read-more:before, #post .read-more:after {
  display: table;
  content: "";
  line-height: 0;
}
/* line 311, ../sass/main2.scss */
#post .read-more .read-more-list {
  border-top: solid 1px #bbbbbb;
}
/* line 314, ../sass/main2.scss */
#post .read-more .list-item {
  width: 49%;
  float: left;
  margin-top: 30px;
  text-align: left;
}
/* line 319, ../sass/main2.scss */
#post .read-more .list-item:nth-child(2) {
  float: right;
  text-align: right;
}
/* line 323, ../sass/main2.scss */
#post .read-more .list-item h4 {
  font-size: .16rem;
  margin-bottom: 0;
}
/* line 327, ../sass/main2.scss */
#post .read-more .list-item span {
  display: block;
  color: #a2a2a2;
}

/* archives */
/* line 336, ../sass/main2.scss */
.archives {
  padding: .2rem;
  border-left: 0.04rem solid #eeeeee !important;
}
/* line 339, ../sass/main2.scss */
.archives.hentry {
  box-shadow: none;
}
/* line 342, ../sass/main2.scss */
.archives blockquote {
  font-size: .23rem;
  margin-bottom: .3rem;
  position: relative;
}
/* line 346, ../sass/main2.scss */
.archives blockquote:before {
  content: " ";
  position: absolute;
  width: .12rem;
  height: .12rem;
  background: #B1A4A4;
  -webkit-border-radius: 0.12rem;
  -moz-border-radius: 0.12rem;
  -ms-border-radius: 0.12rem;
  -o-border-radius: 0.12rem;
  border-radius: 0.12rem;
  left: -.28rem;
  top: 50%;
  margin-top: -.06rem;
}
/* line 358, ../sass/main2.scss */
.archives .collection {
  margin-bottom: .55rem;
}
/* line 361, ../sass/main2.scss */
.archives .collection-item {
  font-size: .16rem;
  margin-top: .3rem;
  padding-left: .1rem;
  padding-bottom: .05rem;
  border-bottom: .01rem dotted #ddd;
  position: relative;
}
/* line 368, ../sass/main2.scss */
.archives .collection-item:before {
  content: " ";
  position: absolute;
  box-sizing: border-box;
  width: .10rem;
  height: .10rem;
  background: #B1A4A4;
  border: .03rem solid #E0DEDE;
  -webkit-border-radius: 0.05rem;
  -moz-border-radius: 0.05rem;
  -ms-border-radius: 0.05rem;
  -o-border-radius: 0.05rem;
  border-radius: 0.05rem;
  left: -.27rem;
  top: 50%;
  margin-top: -.08rem;
}
/* line 381, ../sass/main2.scss */
.archives .collection-item:hover {
  border-color: #888181;
}
/* line 384, ../sass/main2.scss */
.archives .collection-item a {
  color: #888181;
}
/* line 386, ../sass/main2.scss */
.archives .collection-item a:hover {
  text-decoration: none;
}

/* tags */
/* line 397, ../sass/main2.scss */
.tags .entry-meta li {
  display: inline-block;
  padding: .05rem .23rem .05rem .2rem;
  margin: 0 .1rem .2rem .1rem;
  background: #ccc;
  position: relative;
  -webkit-border-radius: 0.03rem;
  -moz-border-radius: 0.03rem;
  -ms-border-radius: 0.03rem;
  -o-border-radius: 0.03rem;
  border-radius: 0.03rem;
  font-size: .18rem;
}
/* line 405, ../sass/main2.scss */
.tags .entry-meta li span {
  position: absolute;
  top: 0;
  right: .15rem;
  font-size: .14rem;
}
/* line 412, ../sass/main2.scss */
.tags .entry-meta li:before {
  content: " ";
  position: absolute;
  border-color: transparent transparent transparent #fff;
  border-width: .14rem;
  border-style: solid;
  left: 0;
  top: 0;
}
/* line 422, ../sass/main2.scss */
.tags .entry-meta li:after {
  content: " ";
  position: absolute;
  width: .05rem;
  height: .05rem;
  -webkit-border-radius: 0.05rem;
  -moz-border-radius: 0.05rem;
  -ms-border-radius: 0.05rem;
  -o-border-radius: 0.05rem;
  border-radius: 0.05rem;
  background: #fff;
  right: .05rem;
  top: 50%;
  margin-top: -.025rem;
}
/* line 435, ../sass/main2.scss */
.tags .hentry {
  position: relative;
  padding: 0.2rem 0 0.3rem 0 !important;
}
/* line 439, ../sass/main2.scss */
.tags .tag-title {
  position: relative;
  display: inline-block;
}
/* line 442, ../sass/main2.scss */
.tags .tag-title .h2 {
  font-size: .2rem;
  color: #fff;
  display: inline-block;
  background: #B5A8A8;
  /* border-top-right-radius: .05rem;
  border-bottom-right-radius: .05rem; */
  width: auto;
  height: .3rem;
  padding: .05rem .1rem;
  z-index: 2;
  position: relative;
}
/* line 455, ../sass/main2.scss */
.tags .tag-title .em {
  position: absolute;
  width: .26rem;
  height: .28rem;
  background: #B5A8A8;
  background: -webkit-linear-gradient(left, #8c7b7b, #c7bfbf);
  box-sizing: border-box;
  right: -.18rem;
  top: .08rem;
  z-index: 0;
}
/* line 465, ../sass/main2.scss */
.tags .tag-title .em:before {
  content: " ";
  border-color: transparent #fff transparent transparent;
  border-top-width: .14rem;
  border-bottom-width: .14rem;
  border-right-width: .08rem;
  border-left-width: .08rem;
  border-style: solid;
  position: absolute;
  right: 0;
  box-sizing: border-box;
}
/* line 477, ../sass/main2.scss */
.tags .tag-title .em:after {
  content: " ";
  position: absolute;
  border-color: #8C7B7B transparent transparent #8C7B7B;
  border-width: .04rem;
  border-style: solid;
  left: 0;
  bottom: 0;
}
/* line 489, ../sass/main2.scss */
.tags .ul {
  margin: .3rem;
}
/* line 491, ../sass/main2.scss */
.tags .ul .entry-title {
  padding: 0.1rem 0;
}

@-webkit-keyframes MenuAnimIn {
  /* line 499, ../sass/main2.scss */
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  /* line 503, ../sass/main2.scss */
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}

@-moz-keyframes MenuAnimIn {
  /* line 510, ../sass/main2.scss */
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  /* line 514, ../sass/main2.scss */
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}

@keyframes MenuAnimIn {
  /* line 521, ../sass/main2.scss */
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  /* line 525, ../sass/main2.scss */
  100% {
    transform: translateY(60px);
    opacity: 1;
  }
}

@-webkit-keyframes drop {
  /* line 532, ../sass/main2.scss */
  0% {
    -webkit-transform: translateY(-50px);
    opacity: 0;
  }

  /* line 536, ../sass/main2.scss */
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@-moz-keyframes drop {
  /* line 457, ../sass/elements.scss */
  /* line 544, ../sass/main2.scss */
  0% {
    -moz-transform: translateY(-50px);
  }

  /* line 460, ../sass/elements.scss */
  /* line 549, ../sass/main2.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes drop {
  /* line 465, ../sass/elements.scss */
  /* line 556, ../sass/main2.scss */
  0% {
    -o-transform: translateY(-50px);
  }

  /* line 468, ../sass/elements.scss */
  /* line 561, ../sass/main2.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes drop {
  /* line 567, ../sass/main2.scss */
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  /* line 571, ../sass/main2.scss */
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
